vllm==0.8.4
setuptools
# https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3+cu12torch2.5cxx11abiFALSE-cp311-cp311-linux_x86_64.whl # for server H100
lighteval
math_verify
torch==2.5.1
triton
async_lru
deepspeed==0.16.9
liger-kernel
filelock
matplotlib
transformers==4.52.3