vllm==0.7.1
setuptools # 81.0.0
# https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3+cu12torch2.5cxx11abiFALSE-cp311-cp311-linux_x86_64.whl # for server H100
lighteval==0.9.1
math_verify
torch==2.5.0 # 2.5.0+cu124
triton # 3.1.0
async_lru
deepspeed==0.16.9
liger-kernel # 0.8.0
filelock # 3.29.1
matplotlib
transformers==4.52.3